*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.nav{
    width: 100%;
    position: fixed;
    top:0px;
    left :0px;
    height: 60px;
    padding: 0 100px;
    background-color: rgb(10, 65, 86);
    box-sizing:border-box;
    transition: .3s;
}
.nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display:flex;
}

.nav ul li{
    list-style: none;
}
.nav ul li a {
    width: 100%;
    line-height: 80px;
    color:rgb(245, 242, 240);
    padding: 5px 10px;
    text-decoration:none;
    text-transform: uppercase;
    transition:.3s;
}

.logo{
    padding: 22px 0px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    transition: .3s;
    color:rgb(255, 255, 255);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(10, 65, 86);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .active{
    background-color: rgb(255, 255, 255);
    color: rgb(10, 65, 86);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    border: solid 4px rgb(10, 65, 86);
    color: rgb(10, 65, 86);
    background-color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbutton i{
    position: absolute;
    padding-left: 30px;
    padding-top: 20px;
    width: 50px;
}
.openbutton:hover{
    color: cadetblue;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
  }
  .office{
      margin: 0;
      padding: 0;
  }

  .type{
      padding-top: 70px;
      color: rgb(10, 65, 86);
      text-align:center ;
      font-weight: bold;
      font-size: 20px;
  }
      .name{
          color:rgb(10, 65, 86);
          text-align: center;
      }

      .people{    
          text-align: center;
          color: #ffffff;
          margin:0;
          padding-top: 0;;
      }

      .img{
          width: 40px;
          height: 35px;
          padding-top:10px;
      }
      .vote{
          background-color: rgb(255, 255, 255);
          color: rgb(10, 65, 86);
          width:100px;
          height:30px;
          font-size: 20px;
      }
      .vote:hover{
        background-color: rgb(7, 145, 199);
        color: rgb(251, 254, 255);
    }

    .modal{
        position: absolute;
        margin-top:20%;
        margin-left: 25%;
        background-color:rgb(10, 65, 86);
        border: solid #ffffff 2px;
        box-shadow: rgb(10, 65, 86);
        opacity: 0.9;
        bottom: 0;
        top:0;
        z-index:1;
        width: 50%;
        height: 250px;
        display: none;
    }

    .modal form{
        position: relative;
        top: 8%;
        left: 2%;
        text-align: center;
    }
    .modal form h1{
        margin:0;
        padding: 0;
        color: #ffffff;
    }
    .modal form input[type="text"] {
        text-align: center;
        font-size: 23px;
        background-color: rgb(253, 253, 253);
        color: #000000;
        border: solid rgb(10, 65, 86) 2px;
        height: 50px;
        width: 80%;
        border-radius: 10px;
    }
    .modal form input[type="submit"]{
        font-size: 25px;
        padding-top:3px;
        height: 40px;
        width: 20%;
    }
    .modal form input[type="submit"]:hover{
        background-color: rgb(6, 41, 54);
        color: #ffffff;
        border: none;
    }

    .add{
        position: fixed;
        font-size: 30px;
        margin: 30px 15px;
        color: #ffffff;
        bottom:0%;
        right: 0%;
        background-color: rgb(10, 65, 86);
        border: none;
        padding: 40px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
  }
  .add:hover{
    background-color: rgb(4, 26, 34); 
  }


  @media screen and (max-width: 768px){
    .nav ul li a {
        display: none;
    }
    .modal{
        position: absolute;
        margin-top:25%;
        margin-left: 5%;
        background-color:rgb(10, 65, 86);
        border: solid #ffffff 2px;
        box-shadow: rgb(10, 65, 86);
        opacity: 0.9;
        bottom: 0;
        top:0;
        z-index:1;
        width: 90%;
        height: 250px;
        display: none;
    }
    .modal form input[type="submit"]{
        font-size: 4vh;
        padding-top:3px;
        height: 40px;
        width: 30%;;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
  }
      .title{
          color:rgb(10, 65, 86);
          padding-top: 70px;
          text-align: center;
      }

      .type{
          margin-top:14px;
          padding: 0;
          color: #ffffff;
      }

      .people{    
          text-align: center;
          color: #ffffff;
          margin-top: 20px;
          padding: 0;;
      }

      .img{
          width: 40px;
          height: 35px;
          padding-top:10px;
      }
      .vote{
          background-color: rgb(255, 255, 255);
          color: rgb(10, 65, 86);
          width:100px;
          height:30px;
          font-size: 20px;
      }
      .vote:hover{
        background-color: rgb(7, 145, 199);
        color: rgb(251, 254, 255);
    }

    .add{
        position: fixed;
        font-size: 30px;
        margin: 30px 15px;
        color: #ffffff;
        bottom:0%;
        right: 0%;
        background-color: rgb(10, 65, 86);
        border: none;
        padding: 40px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
  }
  .add:hover{
    background-color: rgb(4, 26, 34); 
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    text-align: center;
    justify-content: center;
  }
  
  .box {
    background-color: rgb(10, 65, 86);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    height: 150px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
  }
      .title{
        color:rgb(10, 65, 86);
        padding-top: 65px;
        text-align: center;

    }