*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.nav{
    width: 100%;
    position: fixed;
    top:0px;
    left :0px;
    height: 60px;
    padding: 0 100px;
    background-color: rgb(10, 65, 86);
    box-sizing:border-box;
    transition: .3s;
}
.nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display:flex;
}

.nav ul li{
    list-style: none;
}
.nav ul li a {
    width: 100%;
    line-height: 80px;
    color:rgb(245, 242, 240);
    padding: 5px 10px;
    text-decoration:none;
    text-transform: uppercase;
    transition:.3s;
}
.logo{
    padding: 22px 0px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    transition: .3s;
    color:rgb(255, 255, 255);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(10, 65, 86);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav .active{
    background-color: rgb(255, 255, 255);
    color: rgb(10, 65, 86);
}

.sidenav a {
    border-bottom: 1px solid rgb(99, 175, 211);
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    border: solid 4px rgb(10, 65, 86);
    color: rgb(10, 65, 86);
    background-color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbutton i{
    position: absolute;
    padding-left: 30px;
    padding-top: 20px;
    width: 50px;
}
.openbutton:hover{
    color: cadetblue;
}
      @media screen and (max-width: 768px){
        .nav ul li a {
            display: none;
        }
    }

/* Table */
    p {
        text-align: center;
        }
        
        table {
        width: 90%;
        margin: 130px auto;
        }

        .header{
            font-size: 40px;
        }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        
        th, td {
        padding: 20px;
        text-align: center;
        }
        td{
            font-size: 20px;
        }
        td:hover{
            background-color: rgb(38, 112, 141);
            color: #ffffff;
        }

        
        
        
        @media screen and (max-width: 640px) {

            .nav{
                position: absolute;
            }
          table{
            width: 90%;
            margin: 60px auto;
          }
        thead {
          display: none;
        }
        
        td {
          display: block;
          position: relative;
          padding-left: 50%;
        /*     margin-bottom: 3px; */
          text-align: right;
          font-size: 30px;
        }
        
        td:first-child {
          font-weight: bold;
        }
        
        td:before {
          content: attr(data-th);
          position: absolute;
          left: 10px;
          width: 50%;
          font-weight: inherit;
          text-align: left;
        }
        }
        
        /* th:first-child, */
        th{
        color: white;
        font-weight: bold;
        background: rgb(10, 65, 86);;
        }




    