body{
    margin:0;
    padding:0px;
    font-family: Quicksand;
    background-color:  rgb(211, 211, 211);
}

.nav{
    position: fixed;
    top:0px;
    left :0px;
    width: 100%;
    height: 60px;
    padding: 0 100px;
    background-color: rgb(10, 65, 86);
    box-sizing:border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
    transition: .3s;
}
.logo{
    padding: 22px 28px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    transition: .3s;
    color:rgb(255, 255, 255);
}
.nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display:flex;
}
.nav img{
    padding: 10px 18px;
    height: 50px;
    float: left;
}
.nav ul li{
    list-style: none;
}
.nav ul li a {
    line-height: 80px;
    color:rgb(245, 242, 240);
    padding: 12px 30px;
    text-decoration:none;
    text-transform: uppercase;
    transition:.3s;
}
.nav ul li a:hover {
    
    color:rgb(10, 65, 86);
    font-weight: bold;
    border: 2px solid ;
    background-color:rgb(245, 242, 240);
}

.back_ground{
    width:100%;
    height: 100vh;
    background:url(../images/po.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: antiquewhite;
    text-align: center;
}
.back_ground h1{
    border: solid white 2px;
    background-color: rgb(10, 65, 86);
    width: 35%;
    padding-top: 0px;
    margin:auto;
    font-size: 3em;
    color: rgb(245, 242, 240);
}

.back_ground p{
    border: solid white 2px;
    background-color: rgb(10, 65, 86);
    width: 28%;
    margin: 30px auto;
    padding-bottom: 6px;
    font-size: 25px;
}

/*get started on the information boxes*/
.details{
    margin-top: 0;
}
.details .detailTxt{
	text-align: center;
	color: rgb(10, 65, 86);
	font-size: 40px;
}

.details .square{
    float: right;
	text-align: right;
	color: black;
    padding: 10px;
    margin-right: 12px;
    width: 100%;
    height: 50px;
}

.details .square img{
    width: 40%;
    height: 350px;
}

.details p{
    color: rgb(10, 65, 86);
    text-align: center;
    font-size:3em;
    margin-right: 500px;
}

/* second story */
/*get started or the information boxes*/
.details{
    padding-top: 40px;
}


.details .square2{
    float: left;
	color: black;
    padding-top: 10px;
    margin-left: 60px;
    width: 100%;
    height: 50px;
}

.details .square2 img{
    width: 40%;
    height: 350px;
    padding-top: 150px;
}

.details .twoText {
    position: absolute;
    width: 100%;
    text-align:center;
    font-size: 3em;
    padding-top: 250px;
    padding-left: 200px;
    margin:0;

}
.bold{
    font-weight: bold;
}

.bar{
    background: rgb(10, 65, 86);
}

/* second story */
/*get started or the information boxes*/

 .black{
    background-color: #2D6962;
    background: rgba(0,0,0,0.6);
 }

 .navfoot{
     background-color: rgb(10, 65, 86);
     width: 100%;
     height: 60px;
     margin-top:700px;
 }

 .navfoot p{
    color: antiquewhite;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}