<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>POLITICO | Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/sign-up.css" />
    <link rel="icon" type="image/ico" href="../images/pogo.png"/>
    <meta name="Description" content="Politico - Builds trust through transparency">
</head>
<body>
        <div class="container">
                <nav> 
                        <a href="index.html"><img src="../images/pogo.png"></a>
                        <ul> 
                            <li><a href="sign-up.html">Sign up</a></li>
                            <li><a href="sign-in.html" class="active">Sign in</a></li>
                        </ul>
                    </nav>
                    </div>
        </header>
        
        <h1 class="header">Sign up</h1>
    <form class="form" action="#" id="addpost">
        <p class="input1"><b style="padding-right: 30px;">Your Image</b>
            <input type="file" id="file" required>
            </p>
        <p class="input1"><b style="padding-right: 30px;">First Name</b>
            <input type="text" name="FirstName" placeholder="e.g John" id="firstname" required>
        </p>
        <p class="input1"><b style="padding-right: 30px;">Last Name</b>
            <input type="text" name="SecondName" placeholder="e.g Fever" id="lastname" required>
        </p>
        <p class="input1"><b style="padding-right: 30px;">Other Name</b>
            <input type="text" name="OtherName" placeholder="e.g Fever" id="othername" required>
        </p>
        <p class="input2"><b style="padding-right: 9px;">Email Address</b>
        <input type="email" name="Email" placeholder="e.g johnfever@politico.com" id="email" required>
        </p>
        <p class="input2"><b style="padding-right: 9px;">Phone Number</b>
            <input type="text" name="phone number" pattern="\d+" placeholder="e.g 080..." id="phone" required>
            </p>
        <p class="input3"><b style="padding-right: 42px;">Password</b>
        <input type="password" name="Password" placeholder="***" id="password" required>
        </p>
        <p><input id="button" type="submit" value="Create an account"></p>
    </form>
    <p align="center" style="padding-left: 38px;">Already have an account? <a href="sign-in.html" style="color: rgb(10, 65, 86); text-decoration: none;">sign in</a></p>
    <script src="../scripts/signup.js"></script>
</body>
</html>